<h1>Articles#new</h1>

<%= simple_form_for [@article] do |f| %>
  <%= f.input :title, label: "Title" %>
  <%= f.input :url, label: "URL" %>
  <%= f.input :headlines, label: "headlines" %>
  <%= f.input :author, label: "author" %>
  <%= f.submit "add an article", class: "btn btn-primary" %>
<% end %>
