<%= render partial: 'form', locals: {path: {controller: "articles", action: "create"}} %>
     <div class="cards">
      <div class="row">
        <%@articles.each do |article|%>

          <div class="col-xs-12 col-sm-6  col-md-4">
            <div class="card article-card">
              <div class="article-img-frame">
                <%= image_tag "ux-animations1.png",  class: "image-card" %>
              </div>

                  <h4><%= link_to article.title, article.url %></h4>
                  <h5><%= link_to article.headlines, article.url %></h5>


                <p><span class="red">by</span> <%= article.author%></p>
                <p class="gray narrow"><%= article.date%></p>
                <%=link_to articles_delete_path(article),  method: :delete,  data: { confirm: "Are you sure?" } do%>
                  <i class="fa fa-trash-o"></i>

                <% end %>
                <div class="card-tags">



              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

