<div class="add-button" data-toggle="modal" data-target="#myModal">

  <%= image_tag "plus_sign.png",  class: "plus-sign" %>


</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">


          <h3 class="modal-title" id="myModalLabel">ADD A NEW REFERENCE</h3>
        </div>
         <div class="modal-container">
        <div class="modal-body">
          <p class="modal-title">Choose a reference type</p>      </div>
            <%= simple_form_for [@reference] do |f| %>
              <%= f.input :title, label: "Title" %>
              <%= f.input :url, label: "URL" %>
              <%= f.input :category, label: "category" %>
           <div class="modal-footer">
             <%= f.submit "SUBMIT!", class: "btn btn-sumbit" %>
           </div>

            <% end %>
      </div>
    </div>
  </div>
</div>
